*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-form {
    background-color: black;
    padding: 20px;
}

.number-a,
.number-b {
    width: 300px;
    height: 30px;
    background-color: red;
    margin: 0px 0px 10px 0px;
}

.numbers input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    background-color: white;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.btn button {
    cursor: pointer;
    padding: 2px 10px;
    margin: 0px 0px 10px 0px;
    border: none;
    border-radius: 3px 5px 3px 5px;
    background-color: white;
    font-size: 20px;

    &:hover {
        background-color: rgb(233, 233, 233);
    }

    &:active {
        background-color: rgb(246, 246, 246);
    }
}