* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #e8e8e8;
}

.week-day-container {
    padding: 30px;
    background-color: gray;
}

.week-day-display {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    align-self: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.week-day-display input {
    outline: none;
    cursor: alias;
    padding: 3px 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: black;
    letter-spacing: 5px;
}

.week-day-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 20px;
}

.week-day-btn button {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}