body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.container label {
    margin-right: 10px;
}

.container input, .container button {
    margin-right: 20px;
    padding: 5px;
}

.table-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

td img {
    max-width: 100%;
    max-height: 100%;
}
