* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
}

.calc-container {
    padding: 20px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgb(54, 54, 54);
}

.calc-display input {
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    text-align: right;
    font-size: 30px;
    width: 100%;
    padding: 20px 0px;

}

.calc-btns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 20px;
}

.calc-btns button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-bg {
    background-color: #fe9505;
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:hover {
        background-color: #fba225;
    }

    &:active {
        background-color: #ffb143;
    }
}

.gray-bg {
    background-color: #a5a5a5;
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:hover {
        background-color: #c4c4c4;
    }

    &:active {
        background-color: #dcdcdc;
    }
}

.black-btn {
    background-color: #333333;
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:hover {
        background-color: #3d3d3d;
    }

    &:active {
        background-color: rgb(95, 95, 95);
    }
}

.btn-0 {
    grid-column: span 2;
    width: 100%;
    border-radius: 100px;
}